.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-100);
}

.slider-track {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px 4px;
  transition: transform 0.5s;
  overflow-y: hidden;
  background-color: var(--bg-100);
  scrollbar-width: 4px;
  scrollbar-color: var(--bg-200) var(--bg-100);
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.seccion-recompensas h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;

  border-bottom: 2px solid var(--primary-200);
  /* border-radius: 5px; */
}
/* 
.slider-track::-webkit-scrollbar {
  display: none;
} */

.slider-item {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: var(--bg-200);
  flex: 0 0 auto;
  transition: all 0.5s;
}

.slider-item:hover {
  scale: 1.05;
  background-color: var(--primary-100);
}




.categorias-list {
  display: flex;
  justify-content: space-between;
  margin: 20px 4px;
  gap: 10px;
}

.categoria-item {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.categoria-item:hover {
  background-color: #f0f0f0;
}

.recompensas-list {
  margin: 20px 4px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
}

.recompensa-card {
  color: #fff;
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  min-height: 240px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.0));
}

.recompensa-card:hover {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.card-categorias {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoria-items {
  display: flex;
  gap: 4px;
}

.categoria-item {
  padding: 4px 8px;
  width: max-content;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 0.8rem;
}

.recompensa-imagen {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.beneficio-nombre {
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--bg-100);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.modal-content button {
  width: 100%;
}